.app_content {
  padding: 4.5rem 2rem 1rem 2rem;
  height: 100vh;
  background: url("/images/background-login.jpg");
  background-position: center;
  background-size: cover;
}

.content_h1 {
  font-size: 2rem;
}

.form_content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #e1e2d5;
  padding: 2rem;
  border-radius: 0.5rem;
  filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 0.397));
  max-width: 500px;
  margin: 0 auto;
}

.form_group {
  display: flex;
  flex-direction: column;
}

.input_title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.input_data {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.input_data:focus {
  outline: none;
  border-color: #0E683A;
  box-shadow: 0 0 0.2rem #0E683A;
}

.button_group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.save_button {
  padding: 0.75rem;
  background-color: #0E683A;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.save_button:hover {
  transform: scale(105%);
}

.save_button {
  padding: 0.75rem;
  background-color: #45a049;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.save_button:disabled {
  cursor: not-allowed;
  background-color: gray;
}

.save_button:hover {
  transform: scale(105%);
  background-color: #0E683A;
}

.delete_button {
  color: white;
  background-color: #f44336;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
  margin-left: 1rem;
  transition: all 0.3s ease;
}

.delete_button:hover {
  transform: scale(105%);
  background-color: #d32f2f;
}

.error_message {
  color: red;
  padding-top: 1rem;
  font-size: 0.75rem;
}
