.carousel {
  height: 95vh;
  position: relative;
}

.carousel .carousel_arrow {
  position: absolute;
  cursor: pointer;
  top: 50%;
  height: 2rem;
  stroke: white;
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0 0 0.75rem black);
  z-index: 99;
}

.carousel .carousel_arrow.prev {
  left: 5%;
  transform: translate(-50%, -50%) rotate(270deg);
}

.carousel .carousel_arrow.prev:hover {
  transform: scale(110%) translate(-50%, -50%) rotate(270deg);
}

.carousel .carousel_arrow.next {
  left: 95%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.carousel .carousel_arrow.next:hover {
  transform: scale(110%) translate(-50%, -50%) rotate(90deg);
}

.carousel .carousel_slide {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.carousel .carousel_slide.visible {
  opacity: 1;
  visibility: visible;
}

.carousel .carousel_slide .slide_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel .carousel_slide .slide_text {
  position: absolute;
  top: 50%;
  left: 33vw;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(227, 209, 209, 0.303);
  box-shadow: 0 0 0.35rem white;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.carousel .carousel_slide .slide_text span {
  color: white;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: lighter;
  margin-bottom: 5rem;
  filter: drop-shadow(0 0 0.15rem black);
}

.carousel .carousel_slide .slide_text h1 {
  color: #43bc54;
  font-size: 10vh;
  text-wrap: wrap;
  line-height: 11vh;
  padding-top: 1rem;
  filter: drop-shadow(0 0 0.15rem black);
}

.carousel .carousel_slide .slide_text .slide_buttons {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.carousel .carousel_slide .slide_text .slide_buttons a:nth-child(1) {
  color: white;
  background-color: #43bc54;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  filter: drop-shadow(0 0 0.15rem black);
  transition: all 0.5s ease-in-out;
  border: 1px solid #43bc54;
}

.carousel .carousel_slide .slide_text .slide_buttons a {
  color: white;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  filter: drop-shadow(0 0 0.15rem black);
  transition: all 0.5s ease-in-out;
  border: 1px solid white;
}

.carousel .carousel_slide .slide_text .slide_buttons a:nth-child(1):hover {
  color: #43bc54;
  background-color: white;
}
