.login_content {
  background-image: url("../public/images/background-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 0.75rem black;
  border-radius: 0.5rem;
  padding: 2rem 4rem;
}

.login h2 {
  font-size: 3rem;
}

.login form {
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.button_group a,
.button_group button {
  padding: 0.5rem 1rem;
  border: 1px solid #0e683a;
  color: #0e683a;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.button_group a:hover,
.button_group button:hover {
  border: 1px solid white;
  color: white;
  background-color: #0e683a;
}

.create_button:disabled {
  background-color: #cccccc;
  color: gray;
  cursor: not-allowed;
  opacity: 0.7;
}

.input_group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  padding-top: 1rem;
}

.input_group label {
  color: #0e683a;
}

.input_group input {
  border: 1px solid #0e683a;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
}

.input_group input::placeholder {
  color: #80a686;
}

.button_group {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.back_button {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.error_message {
  color: red;
  padding-top: 1rem;
  font-size: 0.75rem;
}
