.app_content {
  padding: 4.5rem 2rem 1rem 2rem;
  height: 100vh;
  background: url("/images/background-login.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.form_content {
  border-radius: 0.5rem;
  width: 32.5rem;
  height: 40rem;
  padding: 1rem 2rem;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  background-color: #e1e2d5;
  filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 0.397));
  justify-content: space-between;
}

.content_h1 {
  font-size: 2rem;
}

.form_group {
  display: flex;
  flex-direction: column;
}

.input_title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.category_input_link {
  display: flex;
}

.category_link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: white;
  background-color: #45A049;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
}

.category_link:hover {
  transform: scale(110%);
  background-color: #0E683A;
}

.input_data {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.input_group {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form_group_50 {
  display: flex;
  justify-content: space-between;
}

.input_data_50 {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  height: 2.5rem;
}

.input_data:focus {
  outline: none;
  border-color: #0E683A;
  box-shadow: 0 0 0.2rem #0E683A;
}

.color_picker_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.color_display {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.hex_value {
  font-size: 0.875rem;
  color: #333;
}

.button_group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.save_button {
  padding: 0.75rem;
  background-color: #45a049;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.save_button:disabled {
  cursor: not-allowed;
  background-color: gray;
}

.save_button:hover {
  transform: scale(105%);
  background-color: #0E683A;
}

.edit_button {
  padding: 0.75rem;
  background-color: #082995;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.edit_button:disabled {
  cursor: not-allowed;
  background-color: gray;
}

.edit_button:hover {
  transform: scale(105%);
  background-color: #061f72;
}

.delete_button {
  color: white;
  background-color: #f44336;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
  transition: all 0.5s ease;
}

.delete_button:disabled {
  cursor: not-allowed;
  background-color: gray;
}

.delete_button:hover {
  transform: scale(105%);
  background-color: #d32f2f;
}

.error_message {
  color: red;
  padding-top: 1rem;
  font-size: 0.75rem;
}

.button_tabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 0.5rem;
  margin-right: -2.75rem;
  margin-top: 1rem;
  overflow: hidden;
  filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 0.397));
  height: min-content;
}

.tab_button {
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  background-color: #ccc;
  color: black;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.tab_button:hover {
  background-color: #0E683A;
  color: white;
}

.active_tab {
  background-color: #45A049;
  color: white;
}

.category_details {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.category_details h2 {
  margin-bottom: 10px;
}

.category_details p {
  margin: 5px 0;
  font-size: 14px;
}