.navbar {
  width: 100vw;
  height: 4.2rem;
  background-color: #e3e4dc;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 0.75rem 0.01rem rgba(0, 0, 0, 0.563);
  position: fixed;
  z-index: 99;
}

.navbar .logo {
  height: 100%;
  padding: 0.5rem 0rem 0.5rem 2rem;
}

.navbar .logo img {
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.navbar .logo img:hover {
  transform: scale(110%);
}

.navbar .navigation {
  padding: 0.5rem 2rem 0.5rem 0;
}

.navbar .navigation .links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1.5rem;
}

.navbar .navigation .links a {
  color: #0e683a;
  font-size: 1rem;
}

.navbar .navigation .links li:nth-child(4) a {
  color: #e3e4dc;
  background-color: #0e683a;
  border: 1px solid white;
  padding: 0.75rem;
  border-radius: 1rem;
}

.navbar .navigation .links li:nth-child(4) {
  transition: all 0.5s ease-in-out;
}

.navbar .navigation .links li:nth-child(4):hover {
  transform: scale(110%);
}
